@model HaxTextile.WebAppCore.Models.Expense.CreateOrUpdateExpenseViewModel
@using Core.Enumarations
<form asp-action="@(Model.MethodType)" asp-controller="Expenses" autocomplete="off">
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Gelir/Gider İşlemleri</h6>
        </div>
        <div class="card-body">
            <div class="row">
                @Html.HiddenFor(q => q.Id)
                @Html.HiddenFor(q => q.MethodType)
                @Html.HiddenFor(q => q.Type)
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Adı:</label>
                        <div class="col-sm-7">
                            @Html.DropDownListFor(q => q.CustomerId, new SelectList(Model.CustomerList, "Id", "CustomerName"), "Seçiniz.", new { @class = "form-control" })
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>
                        <a asp-action="Create" asp-controller="Customer" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Tutar:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(q => q.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Para Birimi:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(q => q.CurrencyType, Html.GetEnumSelectList<CurrencyType>(), "Seçiniz.", new { @class = "form-control" })
                            <span asp-validation-for="CurrencyType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Vade Tarihi:</label>
                        <div class="col-sm-8">
                            <input type="date" asp-for='ExpiryDate' class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Döküman No:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(q => q.DocumentNumber, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Vade(Gün) Sayısı:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(q => q.Expiry, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="Expiry" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Açıklama:</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(q => q.Description, 5, 20, new { @class = "form-control" })
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">İşlem Tipi:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(q => q.Type, Html.GetEnumSelectList<ExpenseType>(), "Seçiniz.", new { @class = "form-control" })
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-5">
                    <a asp-action="Index" asp-controller="Expenses" class="btn btn-info" role="button" aria-pressed="true"><i class="fa fa-arrow-left"></i> Geri Dön</a>
                    <button class="btn btn-info" type="submit"><i class="fa fa-save"></i> Kaydet</button>
                    <button class="btn btn-info" type="reset"><i class="fa fa-trash"></i> Temizle</button>
                </div>
            </div>
        </div>
    </div>
</form>