@model HaxTextile.WebAppCore.Models.Customer.CreateOrUpdateCustomerViewModel
@using Core.Enumarations
<form asp-action="@(Model.MethodType)" asp-controller="Customer" autocomplete="off">
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Müşteri İşlemleri</h6>
        </div>
        <div class="card-body">
            <div class="row">
                @Html.HiddenFor(q => q.Id)
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Adı:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(q => q.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Mail:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(q => q.CustomerEmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="CustomerEmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Telefon:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(q => q.CustomerTelephoneNumber, new { htmlAttributes = new { @class = "form-control" } })

                            <span asp-validation-for="CustomerTelephoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Tip:</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(q => q.CustomerCompanyType, Html.GetEnumSelectList<CustomerType>(), "Seçiniz.", new { @class = "form-control" })
                            <span asp-validation-for="CustomerCompanyType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Adres:</label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(q => q.CustomerAddress, 5, 20, new { @class = "form-control" })
                            <span asp-validation-for="CustomerAddress" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Müşteri Açıklama:</label>
                        <div class="col-md-8">
                            @Html.TextAreaFor(q => q.CustomerDescription, 5, 20, new { @class = "form-control" })
                            <span asp-validation-for="CustomerDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" asp-controller="Customer" class="btn btn-info" role="button" aria-pressed="true"><i class="fa fa-arrow-left"></i> Geri Dön</a>
                    <button class="btn btn-info" type="submit"><i class="fa fa-save"></i> Kaydet</button>
                    <button class="btn btn-info" type="reset"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>