@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@sharedLocalizer["SafeEntry"]</title>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post" asp-action="Login" asp-controller="Account" autocomplete="off">
                <h4>@viewLocalizer["LocalAccount"]</h4>
                <input type="hidden" value="@Model.ReturnUrl" />
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@sharedLocalizer["Enter"]</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" asp-controller="Account">@viewLocalizer["ForgotPassword"]</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-controller="Account" asp-route-returUrl="@Model.ReturnUrl">@viewLocalizer["NewUser"]</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>@sharedLocalizer["ExternalSource"]</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            @viewLocalizer["NoExternalProvider"]
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>