@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@sharedLocalizer["Register"]</title>
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off">
            <h4>@viewLocalizer["NewAccount"]</h4>
            <hr />
            <input type="hidden" value="@Model.ReturnUrl" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@viewLocalizer["Register"]</button>
            <div class="form-group">
                <p>
                    <a asp-controller="Account" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl">@viewLocalizer["Login"]</a>
                </p>
            </div>
        </form>
    </div>
</div>

